@using Microsoft.AspNetCore.Http;
<div class="header-middle sticky-header">
    <div class="container">
        <div class="header-left">

            <a href="index.html" class="logo">
                <img src="~/assets/images/logo.png" alt="Molla Logo" width="105" height="25">
            </a>

            <nav class="main-nav">
                <ul class="menu sf-arrows">
                    <li class="megamenu-container active">
                        <a href="@Url.Action("Index" , "Home")">Trang chủ</a>
                    </li>
                </ul>
            </nav>
            <nav class="main-nav">
                <ul class="menu sf-arrows">
                    <li class="megamenu-container active">
                        <a href="@Url.Action("Index" , "Product")">Sản phẩm</a>
                    </li>
                </ul>
            </nav>
            <nav class="main-nav">
                <ul class="menu sf-arrows">
                    <li class="megamenu-container active">
                        <a href="@Url.Action("Index" , "About")">Về chúng tôi</a>
                    </li>
                </ul>
            </nav>
            <nav class="main-nav">
                <ul class="menu sf-arrows">
                    <li class="megamenu-container active">
                        <a href="@Url.Action("Index" , "Contact")">Liên lạc với chúng tôi</a>
                    </li>
                </ul>
            </nav>

            @* <nav class="main-nav">
            <ul class="menu sf-arrows">
            <li class="megamenu-container active">
            <a href="index.html">Trang Admin</a>
            </li>
            </ul>
            </nav>*@
            <div class="dropdown cart-dropdown">
                <a href="@Url.Action("Index" , "Cart")" class="dropdown-toggle">
                    <i class="icon-shopping-cart"></i>
                    <span class="cart-count">2</span>
                </a>
            </div><!-- End .cart-dropdown -->

            <div class="dropdown cart-dropdown">
                <a href="@Url.Action("Index" , "Login")" class="dropdown-toggle">
                    <i class="icon-user"></i>
                </a>
            </div>

            <div class="dropdown cart-dropdown">
                <a href="@Url.Action("Index" , "Category")" class="dropdown-toggle">
                    <i class="icon-cog"></i>
                </a>
            </div>
            Xin chào,  @Context.Session.GetString("FullName")
        </div>
    </div><!-- End .container -->
</div><!-- End .header-middle -->