@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "_Layout";
}
@model ContactViewModel
<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <div class="page-wrapper">
        <header>
            <link rel="import" href="/header.html">
        </header>

        <main class="main">
            <div class="container">
                <div class="page-header page-header-big text-center" style="background-image: url('assets/images/contact/contact-bg.jpg')">
                    <h1 class="page-title" style="color: #c96;">Liên hệ chúng tôi<span>Giữ liên lạc với chúng tôi</span></h1>
                </div><!-- End .page-header -->
            </div><!-- End .container -->

            <div class="page-content pb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mb-2 mb-lg-0">
                            <h2 class="title mb-1">Thông tin liên lạc</h2><!-- End .title mb-2 -->
                            <p class="mb-3">Đồ Án 3 - Làm website bán điện thoại và phụ kiện của sinh viên Huỳnh và Vũ </p>
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="contact-info">
                                        <h3>The Office</h3>

                                        <ul class="contact-list">
                                            <li>
                                                <i class="icon-map-marker"></i>
                                                @Model.StoreModel.Address
                                            </li>
                                            <li>
                                                <i class="icon-phone"></i>
                                                <a href="tel:#">@Model.StoreModel.PhoneNumber</a>
                                            </li>
                                            <li>
                                                <i class="icon-envelope"></i>
                                                <a href="mailto:#">@Model.StoreModel.Email</a>
                                            </li>
                                        </ul><!-- End .contact-list -->
                                    </div><!-- End .contact-info -->
                                </div><!-- End .col-sm-7 -->

                                <div class="col-sm-5">
                                    <div class="contact-info">
                                        <h3>Giờ làm việc</h3>

                                        <ul class="contact-list">
                                            <li>
                                                <i class="icon-clock-o"></i>
                                                <span class="text-dark">Tất cả các ngày trong tuần</span> <br> @Model.StoreModel.StartTimeNormal - @Model.StoreModel.EndTimeNormal
                                            </li>
                                            <li>
                                                <i class="icon-calendar"></i>
                                                <span class="text-dark">Ngày lễ / tết</span> <br> @Model.StoreModel.StartTimeHoliday - @Model.StoreModel.EndTimeHoliday
                                            </li>
                                        </ul><!-- End .contact-list -->
                                    </div><!-- End .contact-info -->
                                </div><!-- End .col-sm-5 -->
                            </div><!-- End .row -->
                        </div><!-- End .col-lg-6 -->
                        <div class="col-lg-6">
                            <h2 class="title mb-1">Có bất kỳ câu hỏi?</h2><!-- End .title mb-2 -->
                            <p class="mb-2">Sử dụng biểu mẫu bên dưới để liên hệ với nhóm chúng tôi</p>

                            <form action="@Url.Action("HandelSaveChange", "Feedback")" class="contact-form mb-3">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="cname" class="sr-only">Tên</label>
                                        @Html.TextBoxFor(m => m.FeedbackModel.UserName, new { @class = "form-control", @placeholder = "Tên" })
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label for="cemail" class="sr-only">Email</label>
                                        @Html.TextBoxFor(m => m.FeedbackModel.Email, new { @class = "form-control", @placeholder = "Email"})
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="cphone" class="sr-only">Số điện thoại</label>
                                        @Html.TextBoxFor(m => m.FeedbackModel.PhoneNumber, new { @class = "form-control", @placeholder = "Số điện thoại"})
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label for="csubject" class="sr-only">Vấn đề</label>
                                        @Html.TextBoxFor(m => m.FeedbackModel.Problem, new { @class = "form-control", @placeholder = "Vấn đề"})
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <label for="cmessage" class="sr-only">Lời nhắn</label>
                                @Html.TextAreaFor(m => m.FeedbackModel.Message, new { @class = "form-control", @cols="30", @rows="4", @placeholder = "Lời nhắn"})

                                <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
                                    <span>Gửi</span>
                                    <i class="icon-long-arrow-right"></i>
                                </button>
                            </form><!-- End .contact-form -->
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->

                    <hr class="mt-4 mb-5">

                    <div class="stores mb-4 mb-lg-5">
                        <h2 class="title text-center mb-3">Our Stores</h2><!-- End .title text-center mb-2 -->

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="store">
                                    <div class="row">
                                        <div class="col-sm-5 col-xl-6">
                                            <figure class="store-media mb-2 mb-lg-0">
                                                <img src="assets/images/stores/img-1.jpg" alt="image">
                                            </figure><!-- End .store-media -->
                                        </div><!-- End .col-xl-6 -->
                                        <div class="col-sm-7 col-xl-6">
                                            <div class="store-content">
                                                <h3 class="store-title">Trường Đại học Bách khoa - Đại học Quốc gia TP.HCM</h3><!-- End .store-title -->
                                                <address>268 Lý Thường Kiệt, Phường 14, Quận 10, Thành phố Hồ Chí Minh</address>
                                                <div><a href="tel:#">028 3864 7256</a></div>

                                                <h4 class="store-subtitle">Giờ mở cửa:</h4><!-- End .store-subtitle -->
                                                <div>Tất cả ngày trong tuần từ 08:00 đến 22:00</div>
                                                <div>Ngày lễ / tết từ 08:00 đến 20:00</div>

                                                <a href="#" class="btn btn-link" target="_blank"><span>Xem đường đi</span><i class="icon-long-arrow-right"></i></a>
                                            </div><!-- End .store-content -->
                                        </div><!-- End .col-xl-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .store -->
                            </div><!-- End .col-lg-6 -->

                            <div class="col-lg-6">
                                <div class="store">
                                    <div class="row">
                                        <div class="col-sm-5 col-xl-6">
                                            <figure class="store-media mb-2 mb-lg-0">
                                                <img src="assets/images/stores/img-2.jpg" alt="image">
                                            </figure><!-- End .store-media -->
                                        </div><!-- End .col-xl-6 -->

                                        <div class="col-sm-7 col-xl-6">
                                            <div class="store-content">
                                                <h3 class="store-title">Trường Bách Khoa</h3><!-- End .store-title -->
                                                <address>Dĩ An – Khu đô thị Đại học Quốc Gia TP. HCM, Quận Thủ Đức, TP.HCM</address>
                                                <div><a href="tel:#">028 3864 7256</a></div>

                                                <h4 class="store-subtitle">Giờ mở cửa:</h4><!-- End .store-subtitle -->
                                                <div>Tất cả ngày trong tuần từ 08:00 đến 22:00</div>
                                                <div>Ngày lễ / tết từ 08:00 đến 20:00</div>

                                                <a href="#" class="btn btn-link" target="_blank"><span>Xem đường đi</span><i class="icon-long-arrow-right"></i></a>
                                            </div><!-- End .store-content -->
                                        </div><!-- End .col-xl-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .store -->
                            </div><!-- End .col-lg-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .stores -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
</body>
</html>