@{
    ViewData["Title"] = "Chỉnh sửa sản phẩm";
    Layout = "_Layout";
}
@model ProductModel
<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
    <div class="page-wrapper">
        <main class="main">
            <div class="page-header text-center" style="background-image: url('../assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Chỉnh sửa sản phẩm</h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="checkout">
                    <div class="container">
                        <form action="@Url.Action("HandelEdit", "Product")">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2 class="checkout-title">Thông tin sản phẩm</h2><!-- End .checkout-title -->
                                    <label>Id</label>
                                    @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @readonly = "readonly"})
                                    
                                    <label>Tên sản phẩm</label>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control"})

                                    <label>Category</label>
                                    @Html.DropDownListFor(m=>m.CategoryId, @Model.CategoryModels.Select(x => new SelectListItem { Text = x.Name, Value = x.Id.ToString() }),new { @class = "form-control"})

                                    <label>Giá</label>
                                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control"})

                                    <label>Màu sắc</label>
                                    @Html.TextBoxFor(m => m.Color, new { @class = "form-control"})

                                    <label>Đường dẫn ảnh</label>
                                    @Html.TextBoxFor(m => m.Url, new { @class = "form-control"})

                                    <label>Mô tả</label>
                                    @Html.TextAreaFor(m => m.Describe, new { @class = "form-control"})

                                </div><!-- End .col-lg-9 -->
                                @*<aside class="col-lg-3">
                                <div class="summary">
                                <h3 class="summary-title">Tải ảnh</h3><!-- End .summary-title -->
                                </div><!-- End .summary -->
                                </aside><!-- End .col-lg-3 -->*@
                            </div><!-- End .row -->
                             <div class="form-footer">
                                <button type="submit" class="btn btn-outline-primary-2">
                                    <span>Lưu thông tin</span>
                                    <i class="icon-long-arrow-right"></i>
                                </button>
                            </div><!-- End .form-footer -->
                        </form>
                    </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
    </div><!-- End .modal -->
</body>
</html>